*{
    /* padding: 0; */
    /* margin: 0; */
    /* box-sizing: border-box; */
}
#a1,#a2{
    margin-right: 10px;
    color: blue;
}
.resume{
    /* border: 2px saolid red; */
    height: 98%;
    width: 98%;
    margin: auto;
}
hr{
    border: 1px solid black;
}